* {
    padding: 0;
    margin: 0;
}

.return-address {
    margin-bottom: 15px;
}

.step {
    margin-bottom: 20px;
}

.frame-li .notify1, .frame-li .notify2, .frame-li .notify3, .frame-li .notify4, .frame-li .notify5, .frame-li .notify6 {
    font-size: 19px;
    line-height: 35px;
    color: red;
    transition: 0.4s;
}

.frame-li {
    margin-bottom: 12px;
}

.frame-li .label {
    line-height: 30px;
}

.frame-li button {
    border-radius: 2px;
}

.frame-li select {
    font-size: 14px;
}

.frame-li select:focus {
    outline: none;
    border: none;
}

.frame-li input {
    font-size: 14px;
}

.frame-li input:focus {
    outline: none;
    border: none;
}

div#address {
    background: #f4f4f4;
    padding-top: 35px;
    min-height: 765px;
}

.logo-paymentt {
    line-height: 100px;
    text-align: center;
}

.cart-payment {
    height: 100%;
    line-height: 100px;
    text-align: center;
}

.progress-payment {
    height: 100%;
}

.logo-payment {
    height: 100%;
    line-height: 100px;
}

ol.my-progress {
    margin-top: 30px;
}

#header-payment img {
    width: 80px;
}

div#header-payment {
    height: 100px;
    border: 1px solid #fbfbfb;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

div#header-payment .row {
    height: 100%;
}

.my-progress {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #849397;
}
.my-progress > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.8em;
}
.my-progress > li:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: #DFE3E4;
    width: 3em;
    height: 3em;
    text-align: center;
    margin-bottom: 0.25em;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
    z-index: 1000;
}
.my-progress > li:after {
    content: '';
    position: absolute;
    display: block;
    background: #DFE3E4;
    width: 100%;
    height: 0.5em;
    top: 1.25em;
    left: 50%;
    margin-left: 1.5em\9;
    z-index: -1;
}
.my-progress > li:last-child:after {
    display: none;
}
.my-progress > li.is-complete {
    color: #2ECC71;
}
.my-progress > li.is-complete:before, .my-progress > li.is-complete:after {
    color: #FFF;
    background: #2ECC71;
}
.my-progress > li.is-active {
    color: #3498DB;
}
.my-progress > li.is-active:before {
    color: #FFF;
    background: #3498DB;
}
.my-progress__last:after {
    display: none !important;
}

.my-progress--medium {
    font-size: 1.5em;
}

.my-progress--large {
    font-size: 2em;
}
*, *:after, *:before {
    box-sizing: border-box;
}

.payment-right {
    padding: 30px 15px;
}

.alert-order {
    font-size: 12px;
}

.btn-order {
    margin-bottom: 5px;
}

h4 {
    font-size: 17px;
    margin-bottom: 11px;
}

div#payment {
    background: #fbfbfb;
    padding: 30px 0px;
    min-height: 765px;
}

div#update {
    border: 1px solid #c1b1b140;
    margin-top: 15px;
    background: #dddddd47;
}

.frame-update-address {
    font-size: 12px;
}

.frame-update-address p {
    margin-top: 10px;
    font-size: 21px;
}

.frame-address {
    border: 1px dotted #1cb9d2;
    padding: 16px;
    background: #fff;
}

.frame-address span.btn {
    cursor: pointer;
    border-radius: 2px;
}

.frame-address a.btn {
    cursor: pointer;
    border-radius: 2px;
}

h3.address-title {
}

h1 {
    margin-bottom: 1.5em;
}

.my-progress {
    margin-bottom: 3em;
}

a {
    color: #3498DB;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    color: #444;
}
@media screen and (max-width: 1066px){
    .cart-payment span{
        display: none;
    }
}